<?xml version="1.0" encoding="utf-8"?>

<!-- 有關使用 web.config 转換的詳細资讯，请造訪 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下面的範例中，"SetAttributes" 转換只会在 "Match" 定位程式找到
    值为 "MyDB" 的屬性 "name" 時，才将 "connectionString" 的值變
    更为使用 "ReleaseSQLServer"。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      在下面的範例中，"Replace" 转換将会取代 web.config 档案
      的整个 <customErrors> 區段。
      请注意，因为在 <system.web> 節點之下 
      只有一个 customErrors 區段，所以不需要使用 "xdt:Locator" 屬性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>